%h1 Payrolls

- if @payrolls.any?
  %ul
    - @payrolls.each do |payroll|
      %li
        = l payroll.starts_at, format: :long
        &mdash;
        = l payroll.ends_at, format: :long
        = link_to '[X]', payroll, method: :delete
- else
  %p no payrolls


= form_for @new_payroll do
  = button_tag 'Create new payroll'
